# Next.js
.next/
out/

# Node
node_modules/

# Build artifacts
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# claude
.claude
